In [1]:
from sqlalchemy import create_engine
import pandas as pd
URL = 'mysql://{}:{}@{}:{}/{}?charset=utf8mb4'.format('root','saherMysqlSoufan','localhost',3306,'recosys')
engine = create_engine(URL, encoding='utf-8')
data = pd.read_sql('jobs', con=engine, columns=['id', 'job_title'])
dataFrame = pd.DataFrame(data)

c:\Users\ASUS\anaconda3\envs\RS_gradProject\lib\site-packages\sqlalchemy\engine\default.py:681: Warning: (1366, "Incorrect string value: '\\xD3\\xE6\\xD1\\xED\\xC7 ...' for column 'VARIABLE_VALUE' at row 1")
  cursor.execute(statement, parameters)

In [2]:
dataFrame.head()

   id                          job_title
0   0                        Commis Chef
1   1          Corporate Legal Secretary
2   2                   Warehouse Person
3   3  Legal Secretary / Admin Assistant
4   4  Category Planner - Pharmaceutical

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidfMatrix = tfidf.fit_transform(dataFrame['job_title'])

In [159]:
query = "wood"
tfidfq = tfidf.transform([query])

In [160]:
from sklearn.metrics.pairwise import linear_kernel
import numpy as np 
resault:np.ndarray = linear_kernel(tfidfMatrix, tfidfq)
resault

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [161]:
for i in resault.argsort(axis=0)[-10:][::-1]:
    print(dataFrame.iloc[i,0],"--",dataFrame.iloc[i,1])
    # print(i)

1101    1105
Name: id, dtype: int64 -- 1101    Wood Machine Operative
Name: job_title, dtype: object
2651    2682
Name: id, dtype: int64 -- 2651    Traditional Wood Machinist
Name: job_title, dtype: object
3361    3426
Name: id, dtype: int64 -- 3361    Team Leader - Cinema - Wood Green
Name: job_title, dtype: object
6137    6313
Name: id, dtype: int64 -- 6137    WAREHOUSE SUPERVISOR (PRODUCTION) - Â£23k - PA...
Name: job_title, dtype: object
6520    6699
Name: id, dtype: int64 -- 6520    WAREHOUSE SUPERVISOR (PICKING & DISPATCH) - Â£...
Name: job_title, dtype: object
9702    10000
Name: id, dtype: int64 -- 9702    Graduate Analyst - Financial Services Executiv...
Name: job_title, dtype: object
3231    3288
Name: id, dtype: int64 -- 3231    HR Administrator
Name: job_title, dtype: object
3236    3293
Name: id, dtype: int64 -- 3236    Banking & Finance Solicitor
Name: job_title, dtype: object
3235    3292
Name: id, dtype: int64 -- 3235    Service Advisor
Name: job_title, dtype: object
3234    3291
Name: id, dtype: int64 -- 3234    Bakery Operative - Newcastle Upon Tyne
Name: job_title, dtype: object

In [8]:
import pandas as pd
df = pd.DataFrame(["hello saher"], columns=['asd'])
df

           asd
0  hello saher

In [6]:
type(df.loc[0][0])

str